body {
	background-color: red;
	margin: 0;
}

header {
	background-color: blue;
	text-align: center;
}

section {
	background-color: yellow;
}

footer {
	background-color: green;
	text-align: center;
}